src/main/mule/Implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	
    <flow name="post:\cases:application\json:uhub-sapi-config">
		<ee:transform doc:name="Set correlationId And inputPayload" doc:id="cabfe723-adfa-4255-b716-d2397edb68b2" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="inputPayload" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="a26952d7-b3a6-4682-81b0-13f8aee12f36" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]' />
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="01321f1b-273a-4890-b980-486cd4debba3" name="insert-covid-case-sub-flow" />
		<ee:transform doc:name="Prepare Response" doc:id="4ae39433-fb1e-4aea-82bf-96386b57ddf1" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload.generatedKeys.GENERATED_KEY
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="85a2dcb5-2e90-40c1-b5cf-c2e788fcc85e" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed register covid case flow, payload: #[payload]"' />
    </flow>
	</mule>
